<link rel="stylesheet" href="/css/clock.css">

<div class="clock-container">

    {% for value in site.data.clock.positions %}
    <article class="clock">
        <div class="hours-container deg{{value.h}}">
            <div class="hours"></div>
        </div>
        <div class="minutes-container deg{{value.m}}">
            <div class="minutes"></div>
        </div>
    </article>
    {% endfor %}

</div>

<script type="text/javascript" src="/js/clock.js">

// 4x6


https://coub.com/view/1nu9th
