<!doctype html>
<html lang="en">
  <head>
    {% include head_meta.html %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors.css">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
<!--          <h3 class="masthead-brand">LOGO</h3>-->
          {% include nav.html %}
        </div>
      </header>

      <main role="main" class="inner cover">
        {{ content }}
      </main>

      <footer class="mastfoot mt-auto">
        {% include footer.html %}
      </footer>

      {% include body_metrics.html %}
    </div>
  </body>
</html>
